extends ../layout

block content
    h1.
         #{title}
    ul
        - each rental, i in rentals
            li
                = rental.address.full_street_add
                = rental.bedrooms
                = rental._id
                form(action='/rentals/#{rental._id}/edit',method='post',enctype='application/x-www-form-urlencoded')
                    input(type='hidden',value='DELETE',name='_method')
                    button(type='submit').
                        Delete
                p 
                    a(href='/rentals/#{rental._id}/edit') Edit
                p
                    a(href='/rentals/#{rental._id}') Show
