extends ../layout

block content
	h1.
		#{title}
	form#formAddRental(name="addrental",method="post",action="/rentals")
		p Full Address: 
			input#inputFullAddress(type="text", placeholder="Full address", name="full_street_add")
		p Street Number:
			input#inputStreetNum(type="number", placeholder="ex. 1234", name="street_num")
		p Street Name: 
			input#inputStreetName(type="text", name="street_name")
		p Zip code: 
			input#inputZipcode(type="number", name="zip_code")
		p city: 
			input#inputCity(type="text", name="city")
		p country: 
			input#inputCountry(type="text", name="country")
		p bedrooms: 
			input#inputBedrooms(type="number", name="bedrooms")
		p bathrooms: 
			input#inputBathrooms(type="number", name="bathrooms")
		p is it a complex: 
			input#inputIsComplex(type="checkbox", name="is_complex")
		p stories: 
			input#inputStories(type="number", name="stories")
		p company_owned: 
			input#inputCompanyOwned(type="checkbox", name="company_owned")
		p owner: 
			input#inputOwner(type="text", name="owner")
		p parking: 
			input#inputParking(type="checkbox", name="parking")
		p pets: 
			input#inputPets(type="checkbox", name="pets")
		p washer_dryer: 
			input#inputWasherDryer(type="checkbox", name="washer_dryer")
		p pool: 
			input#inputPool(type="checkbox", name="pool")
		p spa: 
			input#inputSpa(type="checkbox", name="spa")
		p gym: 
			input#inputGym(type="checkbox", name="gym")
		p dishwasher: 
			input#inputDishwasher(type="checkbox", name="dishwasher")
		p central_air: 
			input#inputCentralAir(type="checkbox", name="central_air")
		p heater: 
			input#inputHeater(type="checkbox", name="heater")
		p gas: 
			input#inputGas(type="checkbox", name="gas")
		p electricity: 
			input#inputElectricity(type="checkbox", name="electricity")
		p trash: 
			input#inputTrash(type="checkbox", name="trash")
		p water: 
			input#inputWater(type="checkbox", name="water")
		p tv: 
			input#inputTv(type="checkbox", name="tv")
		p wifi: 
			input#inputWifi(type="checkbox", name="wifi")
		p
			button#btnSubmit(type="submit") submit
